BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "blink_LED" SITE "61" ;
LOCATE COMP "conta[0]" SITE "142" ;
LOCATE COMP "conta[1]" SITE "140" ;
LOCATE COMP "conta[2]" SITE "138" ;
LOCATE COMP "conta[3]" SITE "132" ;
LOCATE COMP "off_LED[2]" SITE "99" ;
LOCATE COMP "clk_0" SITE "60" ;
LOCATE COMP "dispA[6]" SITE "77" ;
LOCATE COMP "dispA[5]" SITE "78" ;
LOCATE COMP "dispA[4]" SITE "81" ;
LOCATE COMP "dispA[3]" SITE "82" ;
LOCATE COMP "dispA[2]" SITE "83" ;
LOCATE COMP "dispA[1]" SITE "84" ;
LOCATE COMP "dispA[0]" SITE "85" ;
LOCATE COMP "mux[0]" SITE "75" ;
LOCATE COMP "mux[1]" SITE "74" ;
LOCATE COMP "mux[3]" SITE "76" ;
LOCATE COMP "mux[2]" SITE "73" ;
LOCATE COMP "load" SITE "4" ;
LOCATE COMP "data[3]" SITE "19" ;
LOCATE COMP "data[2]" SITE "20" ;
LOCATE COMP "data[1]" SITE "21" ;
LOCATE COMP "data[0]" SITE "22" ;
LOCATE COMP "arriba" SITE "2" ;
