BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "blink_LED" SITE "61" ;
LOCATE COMP "clk_0" SITE "60" ;
LOCATE COMP "load" SITE "4" ;
LOCATE COMP "arriba" SITE "2" ;
LOCATE COMP "data[7]" SITE "26" ;
LOCATE COMP "data[6]" SITE "25" ;
LOCATE COMP "data[5]" SITE "28" ;
LOCATE COMP "data[4]" SITE "27" ;
LOCATE COMP "data[2]" SITE "32" ;
LOCATE COMP "data[3]" SITE "33" ;
LOCATE COMP "data[1]" SITE "35" ;
LOCATE COMP "data[0]" SITE "34" ;
LOCATE COMP "reset" SITE "1" ;
LOCATE COMP "mux[0]" SITE "76" ;
LOCATE COMP "mux[1]" SITE "75" ;
LOCATE COMP "mux[2]" SITE "74" ;
LOCATE COMP "mux[3]" SITE "73" ;
LOCATE COMP "disp[6]" SITE "77" ;
LOCATE COMP "disp[5]" SITE "78" ;
LOCATE COMP "disp[4]" SITE "81" ;
LOCATE COMP "disp[3]" SITE "82" ;
LOCATE COMP "disp[2]" SITE "83" ;
LOCATE COMP "disp[1]" SITE "84" ;
LOCATE COMP "disp[0]" SITE "85" ;
LOCATE COMP "data[15]" SITE "19" ;
LOCATE COMP "data[14]" SITE "20" ;
LOCATE COMP "data[13]" SITE "21" ;
LOCATE COMP "data[12]" SITE "22" ;
LOCATE COMP "data[11]" SITE "132" ;
LOCATE COMP "data[10]" SITE "133" ;
LOCATE COMP "data[9]" SITE "24" ;
LOCATE COMP "data[8]" SITE "23" ;
