BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "blink_LED" SITE "109" ;
LOCATE COMP "conta[0]" SITE "142" ;
LOCATE COMP "conta[1]" SITE "140" ;
LOCATE COMP "conta[2]" SITE "138" ;
LOCATE COMP "conta[3]" SITE "132" ;
LOCATE COMP "off_LED[0]" SITE "115" ;
LOCATE COMP "off_LED[1]" SITE "113" ;
LOCATE COMP "off_LED[2]" SITE "111" ;
LOCATE COMP "clk_0" SITE "127" ;
