BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "61" ;
LOCATE COMP "data[25]" SITE "52" ;
LOCATE COMP "data[24]" SITE "50" ;
LOCATE COMP "data[23]" SITE "48" ;
LOCATE COMP "data[22]" SITE "49" ;
LOCATE COMP "data[21]" SITE "47" ;
LOCATE COMP "data[20]" SITE "45" ;
LOCATE COMP "data[19]" SITE "43" ;
LOCATE COMP "data[18]" SITE "42" ;
LOCATE COMP "data[17]" SITE "44" ;
LOCATE COMP "data[16]" SITE "39" ;
LOCATE COMP "data[15]" SITE "41" ;
LOCATE COMP "data[14]" SITE "91" ;
LOCATE COMP "data[13]" SITE "92" ;
LOCATE COMP "data[12]" SITE "93" ;
LOCATE COMP "data[11]" SITE "94" ;
LOCATE COMP "data[10]" SITE "96" ;
LOCATE COMP "data[9]" SITE "95" ;
LOCATE COMP "data[8]" SITE "98" ;
LOCATE COMP "data[7]" SITE "97" ;
LOCATE COMP "data[6]" SITE "99" ;
LOCATE COMP "data[5]" SITE "100" ;
LOCATE COMP "data[4]" SITE "104" ;
LOCATE COMP "data[3]" SITE "105" ;
LOCATE COMP "data[2]" SITE "106" ;
LOCATE COMP "data[1]" SITE "107" ;
LOCATE COMP "data[0]" SITE "40" ;
LOCATE COMP "sel[3]" SITE "5" ;
LOCATE COMP "sel[2]" SITE "6" ;
LOCATE COMP "sel[1]" SITE "1" ;
LOCATE COMP "sel[0]" SITE "2" ;
LOCATE COMP "o" SITE "59" ;
LOCATE COMP "data[26]" SITE "55" ;
LOCATE COMP "data[27]" SITE "54" ;
