BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "pn[0]" SITE "56" ;
LOCATE COMP "pn[2]" SITE "50" ;
LOCATE COMP "pn[3]" SITE "49" ;
LOCATE COMP "pn[1]" SITE "55" ;
LOCATE COMP "shift" SITE "40" ;
LOCATE COMP "clk0" SITE "125" ;
LOCATE COMP "z[3]" SITE "142" ;
LOCATE COMP "z[2]" SITE "140" ;
LOCATE COMP "z[1]" SITE "138" ;
LOCATE COMP "z[0]" SITE "132" ;
