BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Qn[7]" SITE "142" ;
LOCATE COMP "Qn[6]" SITE "140" ;
LOCATE COMP "Qn[5]" SITE "138" ;
LOCATE COMP "Qn[4]" SITE "132" ;
LOCATE COMP "Qn[3]" SITE "115" ;
LOCATE COMP "Qn[2]" SITE "113" ;
LOCATE COMP "Qn[1]" SITE "111" ;
LOCATE COMP "Qn[0]" SITE "109" ;
LOCATE COMP "clk" SITE "38" ;
LOCATE COMP "D" SITE "40" ;
