BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "clk" SITE "38" ;
LOCATE COMP "MR" SITE "39" ;
LOCATE COMP "P_in[1]" SITE "41" ;
LOCATE COMP "P_in[2]" SITE "44" ;
LOCATE COMP "P_in[3]" SITE "45" ;
LOCATE COMP "s[0]" SITE "43" ;
LOCATE COMP "s[1]" SITE "42" ;
LOCATE COMP "Q[0]" SITE "142" ;
LOCATE COMP "Q[1]" SITE "140" ;
LOCATE COMP "Q[2]" SITE "138" ;
LOCATE COMP "Q[3]" SITE "132" ;
LOCATE COMP "dsr" SITE "47" ;
LOCATE COMP "dsl" SITE "48" ;
