BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "a[3]" SITE "40" ;
LOCATE COMP "a[2]" SITE "41" ;
LOCATE COMP "a[1]" SITE "44" ;
LOCATE COMP "a[0]" SITE "45" ;
LOCATE COMP "s[0]" SITE "39" ;
LOCATE COMP "o" SITE "142" ;
LOCATE COMP "s[1]" SITE "38" ;
