BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "s8[2]" SITE "38" ;
LOCATE COMP "s8[1]" SITE "39" ;
LOCATE COMP "s8[0]" SITE "42" ;
LOCATE COMP "a8[7]" SITE "40" ;
LOCATE COMP "a8[6]" SITE "41" ;
LOCATE COMP "a8[5]" SITE "44" ;
LOCATE COMP "a8[4]" SITE "45" ;
LOCATE COMP "a8[3]" SITE "49" ;
LOCATE COMP "a8[2]" SITE "50" ;
LOCATE COMP "a8[1]" SITE "55" ;
LOCATE COMP "a8[0]" SITE "56" ;
LOCATE COMP "o8" SITE "142" ;
