BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "A[0]" SITE "9" ;
LOCATE COMP "A[1]" SITE "6" ;
LOCATE COMP "B[0]" SITE "12" ;
LOCATE COMP "B[1]" SITE "11" ;
LOCATE COMP "s[0]" SITE "14" ;
LOCATE COMP "s[1]" SITE "13" ;
LOCATE COMP "B[2]" SITE "10" ;
LOCATE COMP "A[2]" SITE "5" ;
LOCATE COMP "Z[3]" SITE "50" ;
LOCATE COMP "Z[2]" SITE "48" ;
LOCATE COMP "Z[1]" SITE "49" ;
LOCATE COMP "Z[0]" SITE "47" ;
LOCATE COMP "D[3]" SITE "19" ;
LOCATE COMP "D[2]" SITE "20" ;
LOCATE COMP "D[1]" SITE "21" ;
LOCATE COMP "D[0]" SITE "22" ;
LOCATE COMP "ena" SITE "1" ;
LOCATE COMP "Z[4]" SITE "52" ;
