BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "pn[3]" SITE "49" ;
LOCATE COMP "pn[2]" SITE "50" ;
LOCATE COMP "pn[1]" SITE "55" ;
LOCATE COMP "pn[0]" SITE "56" ;
LOCATE COMP "c" SITE "38" ;
LOCATE COMP "qn[3]" SITE "143" ;
LOCATE COMP "qn[2]" SITE "141" ;
LOCATE COMP "qn[1]" SITE "139" ;
LOCATE COMP "qn[0]" SITE "133" ;
LOCATE COMP "s" SITE "40" ;
