BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "z[3]" SITE "109" ;
LOCATE COMP "z[2]" SITE "111" ;
LOCATE COMP "z[1]" SITE "113" ;
LOCATE COMP "z[0]" SITE "115" ;
LOCATE COMP "shift" SITE "40" ;
LOCATE COMP "pn[1]" SITE "50" ;
LOCATE COMP "pn[0]" SITE "49" ;
LOCATE COMP "pn[2]" SITE "55" ;
LOCATE COMP "pn[3]" SITE "56" ;
LOCATE COMP "led" SITE "110" ;
