BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "d[3]" SITE "59" ;
LOCATE COMP "d[2]" SITE "57" ;
LOCATE COMP "d[1]" SITE "56" ;
LOCATE COMP "d[0]" SITE "54" ;
LOCATE COMP "clk_0" SITE "45" ;
LOCATE COMP "rst" SITE "1" ;
LOCATE COMP "q[3]" SITE "5" ;
LOCATE COMP "q[2]" SITE "6" ;
LOCATE COMP "q[1]" SITE "9" ;
LOCATE COMP "q[0]" SITE "10" ;
LOCATE COMP "blink_LED" SITE "61" ;
