BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
LOCATE COMP "Enable" SITE "1" ;
LOCATE COMP "Reset" SITE "2" ;
LOCATE COMP "reed" SITE "3" ;
LOCATE COMP "Address[4]" SITE "5" ;
LOCATE COMP "Address[3]" SITE "6" ;
LOCATE COMP "Address[2]" SITE "9" ;
LOCATE COMP "Address[1]" SITE "10" ;
LOCATE COMP "Address[0]" SITE "11" ;
LOCATE COMP "Clock" SITE "61" ;
LOCATE COMP "Data[7]" SITE "77" ;
LOCATE COMP "Data[6]" SITE "78" ;
LOCATE COMP "Data[5]" SITE "81" ;
LOCATE COMP "Data[4]" SITE "82" ;
LOCATE COMP "Data[3]" SITE "83" ;
LOCATE COMP "Data[2]" SITE "84" ;
LOCATE COMP "Data[1]" SITE "85" ;
LOCATE COMP "Data[0]" SITE "86" ;
LOCATE COMP "mux[3]" SITE "76" ;
LOCATE COMP "mux[2]" SITE "75" ;
LOCATE COMP "mux[1]" SITE "74" ;
LOCATE COMP "mux[0]" SITE "73" ;
